#
# OS system files
#
.DS_Store
.profile
Thumbs.db


#
# Editors' backup and temporary files
#
*.bak
*.tmp
*.kate-swp


#
# IDEs and editors
#
Xcodeproj/
.xcuserdata/
.vscode/
*.sublime-project
*.sublime-workspace


#
# PYTHON
#
__pycache__/
venv/


#
# USER-SPECIFIC FILES AND FOLDERS
#
*~.*
*~/


#
# OUTPUT FILES
#
BaseModels/*.safetensors


